/* Конфигурация проекта */

/* Подключение шрифта Helvetica Neue Cyr */
@import url("../fonts/HelveticaNeueCyr/stylesheet.css");

/* Определение переменных */
:root {
  --container-width: 1200px;
  --main-color: #fb7101;
  --light-main-color: #fff1e6;
  --text-color: #000;
  --title-color: #111827;
}

/* Общие стили для контейнера */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px; /* Дополнительные отступы по бокам */
}

/* Основной стиль для фона */
body {
  background-color: white;
  color: var(--text-color);
  font-family: "Helvetica Neue Cyr", sans-serif; /* Применение шрифта */
  line-height: 1.6;
}

/* Стили для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

/* Стили для ссылок */
a {
  color: var(--main-color);
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: var(--main-color);
}

/* countdown */
.countdown {
  background-color: var(--light-main-color);
  padding: 24px 0;
}
.countdown__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.countdown__text-wrapper {
  display: flex;
  align-items: center;
  gap: 31px;
}
.countdown__text {
  max-width: 200px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: var(--title-color);
}
.countdown__sub-text {
  max-width: 160px;
  font-size: 18px;
  line-height: 1.33;
  color: var(--title-color);
}

.countdown__timer {
  display: flex;
  gap: 16px;
}
.countdown__timer-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.countdown__timer-number {
  width: 46px;
  height: 46px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 16px;
  background-color: #fee3cc;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #111827;
}
.countdown__timer-label {
  font-size: 14px;
  line-height: 1.86;
  color: #111827;
}

.countdown__close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  border: solid 1px #ffe3cd;
  transition: border 0.2s ease-in-out;
}
.countdown__close:hover {
  border-color: var(--main-color);
}

/* HEADER */
.header {
  margin-top: 16px;
}
.header__wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 45px;
  padding-right: 12px;
}
.header__nav-item {
  font-size: 15px;
  line-height: 24px;
  color: var(--title-color);
  transition: border 0.2s ease-in-out;
}
.header__nav-item.active {
  border-bottom: 2px solid var(--main-color);
}
