/* Подключение шрифта Helvetica Neue Cyr */
@import url("../fonts/HelveticaNeueCyr/stylesheet.css");

/* Определение переменных */
:root {
  --container-width: 1200px;
  --main-color: #fb7101;
  --link-color: #4184F6;
  --main-color-darken: #da6200;
  --light-main-color: #fff1e6;
  --text-color: #000;
  --title-color: #111827;
}

/* Общие стили для контейнера */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px; /* Дополнительные отступы по бокам */
}

/* Основной стиль для фона */
body {
  background-color: white;
  color: var(--text-color);
  font-family: "Helvetica Neue Cyr", sans-serif; /* Применение шрифта */
  line-height: 1.6;
}

/* Стили для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

/* Стили для ссылок */
a {
  cursor: pointer;
  color: var(--link-color);
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: var(--main-color);
}

button {
  cursor: pointer;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
button.button {
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 28px 80px;
  border-radius: 100px;
  background-color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
button.button:hover {
  background-color: var(--main-color-darken);
}

/* countdown */
.countdown {
  background-color: var(--light-main-color);
  padding: 24px 0;
}
.countdown__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.countdown__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
}
.countdown__text {
  max-width: 200px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: var(--title-color);
}
.countdown__sub-text {
  max-width: 160px;
  font-size: 18px;
  line-height: 1.33;
  color: var(--title-color);
}

.countdown__timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.countdown__timer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.countdown__timer-number {
  width: 46px;
  height: 46px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border-radius: 16px;
  background-color: #fee3cc;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #111827;
}
.countdown__timer-label {
  font-size: 14px;
  line-height: 1.86;
  color: #111827;
}

.button__close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 200px;
  border: solid 1px #ffe3cd;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.button__close:hover {
  border-color: var(--main-color);
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  padding: 16px 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header.fixed {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* Бургер-меню */
.header__burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__burger-line {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

/* Стили для крестика */
.header__burger.active .header__burger-line:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
      -ms-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

.header__burger.active .header__burger-line:nth-child(2) {
  opacity: 0;
}

.header__burger.active .header__burger-line:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
      -ms-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  padding-right: 12px;
}
.header__nav-item {
  font-size: 15px;
  line-height: 24px;
  color: var(--title-color);
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}
.header__nav-item.active {
  border-color: var(--main-color);
}

/* HERO */
.hero {
  padding-top: 100px;
  margin-bottom: 50px;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__text {
  max-width: 567px;
}
.hero__subtitle {
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.hero__title {
  font-size: 64px;
  font-weight: bold;
  line-height: 64px;
  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 30px;
}
.hero__description {
  font-size: 18px;
  line-height: 32px;
  color: var(--title-color);
  margin-bottom: 26px;
}
.hero__description p {
  margin: 0;
}
.hero__button {
  width: 325px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 28px 80px;
  border-radius: 100px;
  background-color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.hero__button:hover {
  background-color: var(--main-color-darken);
}
.hero__image {
  padding-right: 46px;
  -webkit-transform: translateY(-13px);
      -ms-transform: translateY(-13px);
          transform: translateY(-13px);
}

/* slider */
.slider {
  padding-top: 45px;
  padding-bottom: 200px;
}
.slider__title-block {
  max-width: 575px;
  margin-bottom: 80px;
}
.slider__title {
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  color: #000;
  margin-bottom: 20px;
}
.slider__subtitle {
  max-width: 555px;
  font-size: 20px;
  line-height: 32px;
  color: #000;
  letter-spacing: -0.2px;
}
.slider__container {
  margin-bottom: 86px;
}
.slider__container .swiper-slide {
  width: 289px;
  border-radius: 10px;
  overflow: hidden;
}
.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 23px 22px 31px;
  background-color: #e7e7e7;
}

.slider__item--dark {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #313131), to(#444));
  background-image: -o-linear-gradient(left, #313131 50%, #444);
  background-image: linear-gradient(to right, #313131 50%, #444);
}

.slider__item--lime {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(3%, #77b900), to(#70ae00));
  background-image: -o-linear-gradient(left, #77b900 3%, #70ae00 100%);
  background-image: linear-gradient(to right, #77b900 3%, #70ae00 100%);
}

.slider__item--green {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #009a66), to(#07c887));
  background-image: -o-linear-gradient(left, #009a66 50%, #07c887);
  background-image: linear-gradient(to right, #009a66 50%, #07c887);
}

.slider__item--gray {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(52%, #bbb), color-stop(104%, #e7e7e7));
  background-image: -o-linear-gradient(left, #bbb 52%, #e7e7e7 104%);
  background-image: linear-gradient(to right, #bbb 52%, #e7e7e7 104%);
}

.slider__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider__item-header {
  color: white;
  margin-bottom: 36px;
}
.slider__item-title {
  font-size: 20px;
}
.slider__item-ticker {
  font-size: 16px;
  font-weight: 300;
}
.slider__item-footer {
  color: white;
}
.slider__item-text {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 0;
  line-height: 1;
}
.slider__item-percentage {
  font-size: 20px;
  font-weight: bold;
}
.slider__item-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border-radius: 50%;
  background-color: white;
  margin: 6px 3px 0 0;
}
.slider__item-logo img {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider__button {
}

.swiper {
  width: 100%;
  height: 100%;
}

/* Затемненный фон */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}

.modal {
  width: 343px;
  padding: 63px 16px 32px 16px;
  background-color: #fff;
  position: relative;
}
.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}
.modal__title {
  font-size: 28px;
  font-weight: bold;
  line-height: 32.2px;
  letter-spacing: 0.28px;
  text-align: center;
  color: #1f252d;
  margin-bottom: 44px;
}
.modal__field-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}
.modal__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.modal__label {
  font-size: 13px;
  line-height: 18px;
  color: #1f252d;
}
.modal__input {
  padding: 16px;
  border-radius: 5px;
  background-color: #f3f5f6;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
.modal__input:focus-visible {
  outline-color: var(--main-color);
  outline-style: solid;
}
.modal__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #8f9296;
}
.modal__input::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #8f9296;
}
.modal__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #8f9296;
}
.modal__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #8f9296;
}
.modal__input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #8f9296;
}
.modal__checkbox {
  margin-bottom: 24px;
}

.modal__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.modal__submit.button  {
  height: 56px;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
}

.modal__checkbox-input {
  display: none;
}

.custom-checkbox {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 18.8px;
  height: 18.8px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  border: 1px solid #1f252d;
}

.checkmark {
  display: none;
}

.modal__checkbox-text {
  font-size: 13px;
  line-height: 18px;
}

.modal__checkbox-input:checked + .modal__checkbox-label .custom-checkbox {
  background-color: #1f252d;
  border-color: transparent;
}

.modal__checkbox-input:checked + .modal__checkbox-label .custom-checkbox .checkmark {
  display: block;
}